<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.traffic.HotLineSummaryMapper">

    <select id="list" resultType="com.wzmtr.dom.dto.res.traffic.hotline.HotLineSummaryListResDTO">
        SELECT *
        FROM TRAFFIC_HOTLINE_SUMMARY
        WHERE DEL_FLAG='0'
        AND DATA_TYPE = #{req.dataType}
        <if test="req.startDate != null and req.startDate!=''">
            AND START_DATE >= to_date(#{req.startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="req.endDate != null and req.endDate!=''">
            AND to_date(#{req.endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY CREATE_DATE desc
    </select>
    <select id="detail" resultType="com.wzmtr.dom.dataobject.traffic.TrafficHotlineSummaryDO">
        select * from TRAFFIC_HOTLINE_SUMMARY
        WHERE DEL_FLAG='0'
        <if test="startDate != null and startDate!=''">
            AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>= END_DATE
        </if>
        <if test="id != null and id!=''">
            AND ID = #{id}
        </if>
    </select>

</mapper>