<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.traffic.OnewaySaleMapper">

    <select id="checkExist" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM TRAFFIC_ONEWAY_SALE
        WHERE DEL_FLAG='0'
        <if test="dataType!=null and dataType!=''">
            AND DATA_TYPE=#{dataType}
        </if>
        <if test="dataType=='1'.toString()">
            AND DATA_DATE=#{dataDate,jdbcType=TIMESTAMP}
        </if>
        <if test="dataType!='1'.toString()">
            AND START_DATE=#{startDate,jdbcType=TIMESTAMP} AND END_DATE=#{endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="version!=null and version!=''">
            AND VERSION=#{version,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectDetailById" resultType="com.wzmtr.dom.dataobject.traffic.IncomeRecordDO">
        SELECT *
        FROM TRAFFIC_ONEWAY_SALE
        WHERE ID=#{id} AND DEL_FLAG='0'
    </select>

    <insert id="add">
        INSERT INTO TRAFFIC_ONEWAY_SALE (ID,DATA_TYPE,
        <if test="dataDate!=null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES
        (#{id}, #{dataType},
        <if test="dataDate!=null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modify">
        UPDATE TRAFFIC_ONEWAY_SALE SET
        <if test="wiringDayPassenger!=null">
            WIRING_DAY_PASSENGER=#{wiringDayPassenger},
        </if>
        <if test="wiringWeekPassenger!=null">
            WIRING_WEEK_PASSENGER=#{wiringWeekPassenger},
        </if>
        <if test="wiringMonthPassenger!=null">
            WIRING_MONTH_PASSENGER=#{wiringMonthPassenger},
        </if>
        <if test="wiringYearPassenger!=null">
            WIRING_YEAR_PASSENGER=#{wiringYearPassenger},
        </if>
        <if test="transferCount!=null">
            TRANSFER_COUNT=#{transferCount},
        </if>
        <if test="s2TransferIn!=null">
            S2_TRANSFER_IN=#{s2TransferIn},
        </if>
        <if test="s2TransferOut!=null">
            S2_TRANSFER_OUT=#{s2TransferOut},
        </if>
        <if test="s2In!=null">
            S2_IN=#{s2In},
        </if>
        <if test="inSuccess!=null">
            IN_SUCCESS=#{inSuccess},
        </if>
        <if test="cardIn!=null">
            CARD_IN=#{cardIn},
        </if>
        <if test="s2Out!=null">
            S2_OUT=#{s2Out},
        </if>
        <if test="outSuccess!=null">
            OUT_SUCCESS=#{outSuccess},
        </if>
        <if test="cardOut!=null">
            CARD_OUT=#{cardOut},
        </if>
            VERSION=VERSION+1,
            UPDATE_BY=#{updateBy},
            UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>

    <update id="modifyCount">
        UPDATE TRAFFIC_ONEWAY_SALE SET
        DAY_PASSENGER=(SELECT SUM(PASSENGER) AS PASSENGER_SUM FROM TRAFFIC_PASSENGER_INFO WHERE START_DATE=to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss') AND END_DATE=to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')),
        WEEK_PASSENGER=(SELECT SUM(PASSENGER) AS PASSENGER_SUM FROM TRAFFIC_PASSENGER_INFO WHERE START_DATE>=TRUNC(NEXT_DAY(to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')-8,1)+1) AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE ),
        MONTH_PASSENGER=(SELECT SUM(PASSENGER) AS PASSENGER_SUM FROM TRAFFIC_PASSENGER_INFO WHERE TO_CHAR(START_DATE,'YYYY-MM')=TO_CHAR(to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),'YYYY-MM')),
        YEAR_PASSENGER=(SELECT SUM(PASSENGER) AS PASSENGER_SUM FROM TRAFFIC_PASSENGER_INFO WHERE TO_CHAR(START_DATE,'YYYY')=TO_CHAR(to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),'YYYY')),
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
    </update>

    <select id="stationPassenger" resultType="com.wzmtr.dom.dto.res.traffic.PassengerInfoResDTO">
        SELECT t1.ID,t1.RECORD_ID,t1.STATION_CODE,t1.PASSENGER,VERSION,t2.STATION_NAME
        FROM TRAFFIC_PASSENGER_INFO t1
        LEFT JOIN SYS_STATION t2 on t1.STATION_CODE=t2.STATION_CODE
        WHERE  DEL_FLAG='0'
        AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        ORDER BY t1.PASSENGER DESC
    </select>
    <select id="list" resultType="com.wzmtr.dom.dto.res.traffic.oneway.OnewaySaleListResDTO">
        SELECT *
        FROM TRAFFIC_ONEWAY_SALE
        WHERE DEL_FLAG='0'
        <if test="req.dataType!=null and req.dataType!=''">
            AND DATA_TYPE=#{req.dataType,jdbcType=VARCHAR}
        </if>
        <if test="req.startDate!=null and req.startDate!=''">
            AND START_DATE>=to_date(#{req.startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="req.endDate!=null and req.endDate!=''">
            AND to_date(#{req.endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY CREATE_DATE desc
    </select>
    <select id="detail" resultType="com.wzmtr.dom.dataobject.traffic.TrafficOnewaySaleDO">
        select *
        from TRAFFIC_ONEWAY_SALE
        WHERE DEL_FLAG='0'
        <if test="dataType!=null and dataType!=''">
            AND DATA_TYPE=#{dataType}
        </if>
        <if test="startDate!=null and startDate!=''">
            AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate!=null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        <if test="id!=null">
            AND ID=#{id}
        </if>
    </select>

    <insert id="createStationPassenger">
        INSERT INTO TRAFFIC_PASSENGER_INFO (ID,RECORD_ID,STATION_CODE,PASSENGER,DATA_TYPE,
        <if test="dataDate!=null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES
        (#{id}, #{recordId},#{stationCode},#{passenger},#{dataType},
        <if test="dataDate!=null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modifyStationPassenger">
        UPDATE TRAFFIC_PASSENGER_INFO SET
        PASSENGER=#{passenger},
        VERSION=VERSION+1,
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>


</mapper>