<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.traffic.ProductionMapper">

    <select id="list" resultType="com.wzmtr.dom.dto.res.traffic.ProductionRecordResDTO">
        SELECT *
        FROM TRAFFIC_PRODUCTION_RECORD
        WHERE DEL_FLAG='0'
        AND DATA_TYPE=#{dataType}
        <if test="stationCode!=null and stationCode!=''">
            AND STATION_CODE=#{stationCode}
        </if>
        <if test="startDate!=null and startDate!=''">
            AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate!=null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY CREATE_DATE desc
    </select>

    <select id="listAll" resultType="com.wzmtr.dom.dto.res.traffic.ProductionRecordResDTO">
        SELECT *
        FROM TRAFFIC_PRODUCTION_RECORD
        WHERE DEL_FLAG='0'
        AND DATA_TYPE=#{dataType}
        <if test="stationCode!=null and stationCode!=''">
            AND STATION_CODE=#{stationCode}
        </if>
        <if test="startDate!=null">
            AND to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')>=START_DATE
        </if>
        <if test="endDate!=null">
            AND END_DATE>=to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        ORDER BY START_DATE desc
    </select>

    <select id="checkExist" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM TRAFFIC_PRODUCTION_RECORD
        WHERE DEL_FLAG='0'
        AND DATA_TYPE=#{dataType}
        <if test="stationCode!=null and stationCode！=''">
            AND STATION_CODE=#{stationCode}
        </if>
        <if test="startDate!=null">
            AND START_DATE=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate!=null">
            AND END_DATE=to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
    </select>

    <select id="queryInfoById" resultType="com.wzmtr.dom.dto.res.traffic.ProductionDetailResDTO">
        SELECT t1.*, t2.STATION_NAME
        FROM TRAFFIC_PRODUCTION_RECORD t1
        LEFT JOIN SYS_STATION t2 on t1.STATION_CODE=t2.STATION_CODE
        WHERE  t1.DEL_FLAG='0'
        <if test="startDate!=null">
            AND to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')>=t1.START_DATE
        </if>
        <if test="endDate!=null">
            AND t1.END_DATE>=to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="id!=null">
            AND t1.ID=#{id}
        </if>
    </select>

    <select id="queryInfoByStation" resultType="com.wzmtr.dom.dto.res.traffic.ProductionDetailResDTO">
        SELECT t1.*, t2.STATION_NAME
        FROM TRAFFIC_PRODUCTION_RECORD t1
        LEFT JOIN SYS_STATION t2 on t1.STATION_CODE=t2.STATION_CODE
        WHERE t1.DEL_FLAG='0'
        AND t1.STATION_CODE=#{stationCode}
        AND t1.DATA_TYPE=#{dataType}
        <if test="startDate!=null and startDate!=''">
            AND t1.START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate!=null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=t1.END_DATE
        </if>
    </select>

    <select id="queryApproval" resultType="com.wzmtr.dom.dto.res.traffic.ProductionApprovalResDTO">
        SELECT t1.*,t2.STATION_NAME AS approvalStationName
        FROM TRAFFIC_PRODUCTION_APPROVAL t1
        LEFT JOIN SYS_STATION t2 on t1.APPROVAL_STATION=t2.STATION_CODE
        WHERE DEL_FLAG='0'
        <if test="startDate!=null and startDate!=''">
            AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate!=null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY START_DATE desc
    </select>

    <select id="queryApprovalByDate" resultType="com.wzmtr.dom.dto.res.traffic.ProductionApprovalResDTO">
        SELECT *
        FROM TRAFFIC_PRODUCTION_APPROVAL
        WHERE DEL_FLAG='0'
        AND DATA_TYPE=#{dataType}
        AND START_DATE=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        AND END_DATE=to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
    </select>

    <select id="queryApprovalRelationById" resultType="com.wzmtr.dom.dto.res.traffic.ProductionApprovalRelationResDTO">
        SELECT t2.SUBMIT_STATION,t3.STATION_CODE
        FROM TRAFFIC_PRODUCTION_RELATION t1
        LEFT JOIN TRAFFIC_PRODUCTION_APPROVAL t2 on t1.APPROVAL_ID=t2.ID
        LEFT JOIN TRAFFIC_PRODUCTION_RECORD t3 on t1.RECORD_ID=t3.ID
        WHERE t1.DEL_FLAG='0'
        AND t1.APPROVAL_STATUS='0'
        AND t1.APPROVAL_ID=#{approvalId}
        AND t1.RECORD_ID=#{recordId}
    </select>

    <insert id="add">
        INSERT INTO TRAFFIC_PRODUCTION_RECORD (ID,
        STATION_CODE,
        DATA_TYPE,
        <if test="dataDate!=null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES
        (#{id},
        #{stationCode},#{dataType},
        <if test="dataDate!=null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modify">
        UPDATE TRAFFIC_PRODUCTION_RECORD SET
        STATUS=#{status},
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
    </update>

    <update id="modifyRecordCount">
        UPDATE TRAFFIC_PRODUCTION_RECORD SET
        TYPE1_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='1' AND STATION_CODE=#{stationCode} AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE2_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='2' AND STATION_CODE=#{stationCode} AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE3_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='3' AND STATION_CODE=#{stationCode} AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE4_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='4' AND STATION_CODE=#{stationCode} AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE5_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='5' AND STATION_CODE=#{stationCode} AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE6_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='6' AND STATION_CODE=#{stationCode} AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE)
        WHERE ID=#{id}
    </update>

    <update id="modifySummaryCount">
        UPDATE TRAFFIC_PRODUCTION_SUMMARY SET
        (TYPE1_COUNT,TYPE2_COUNT,TYPE3_COUNT,TYPE4_COUNT,TYPE5_COUNT,TYPE6_COUNT)
        =
        (
        SELECT TYPE1_COUNT,TYPE2_COUNT,TYPE3_COUNT,TYPE4_COUNT,TYPE5_COUNT,TYPE6_COUNT
        FROM TRAFFIC_PRODUCTION_RECORD
        WHERE ID=#{recordId}
        )
        WHERE STATION_CODE=#{stationCode}
        AND DATA_TYPE=#{dataType}
        AND START_DATE=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        AND END_DATE  =to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
    </update>

    <insert id="createProductionApproval">
        INSERT INTO TRAFFIC_PRODUCTION_APPROVAL (ID,
        APPROVAL_STATION,TITLE,SUBMIT_STATION,
        DATA_TYPE,
        <if test="dataDate!=null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES
        (#{id}, #{approvalStation},#{title},#{submitStation},
        #{dataType},
        <if test="dataDate!=null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modifyProductionApproval">
        UPDATE TRAFFIC_PRODUCTION_APPROVAL SET
        <if test="dataDate!=null">
            SUBMIT_STATION=#{submitStation},
        </if>
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
    </update>

    <insert id="createProductionApprovalRelation">
        INSERT INTO TRAFFIC_PRODUCTION_RELATION (ID,
        APPROVAL_ID,RECORD_ID,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES
        (#{id}, #{approvalId},#{recordId},
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modifyProductionApprovalRelation">
        UPDATE TRAFFIC_PRODUCTION_RELATION SET
        APPROVAL_STATUS=#{status},
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE APPROVAL_ID=#{approvalId}
        AND RECORD_ID=#{recordId}
        AND APPROVAL_STATUS='0'
    </update>

    <select id="eventPage" resultType="com.wzmtr.dom.dto.res.traffic.ProductionInfoResDTO">
        SELECT t1.ID, t1.RECORD_ID,t1.STATION_CODE,t1.PRODUCTION_TYPE,t1.TITLE,t1.WORK_TIME,t1.WORK_TIME_END,t1.WORK_CODE,t1.WORK_DEPT,t1.WORK_CONTENT,
        t1.EVENT_TIME,t1.EVENT_DESC,t1.EVENT_AFFECT,t1.EVENT_HANDLE,t1.PIC_URL,t1.IS_CLOSE,t1.RESULT,t2.STATION_NAME,
        t1.DATA_TYPE,t1.VERSION
        FROM TRAFFIC_PRODUCTION_INFO t1
        LEFT JOIN SYS_STATION t2 ON t1.STATION_CODE=t2.STATION_CODE AND t2.OPEN_FLAG='1'
        WHERE t1.DEL_FLAG='0'
        <if test="stationCode!=null and stationCode!=''">
            AND t1.STATION_CODE=#{stationCode}
        </if>
        <if test="productionType!=null and productionType!=''">
            AND t1.PRODUCTION_TYPE=#{productionType}
        </if>
        <if test="dataType!=null and dataType!=''">
            AND t1.DATA_TYPE=#{dataType}
        </if>
        <if test="dataType=='1'.toString()">
            <if test="startDate!=null">
                AND t1.DATA_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="endDate!=null">
                AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=t1.DATA_DATE
            </if>
        </if>
        <if test="dataType!='1'.toString()">
            <if test="startDate!=null">
                AND t1.START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="endDate!=null">
                AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=t1.END_DATE
            </if>
        </if>
        ORDER BY t1.CREATE_DATE desc
    </select>

    <select id="eventDetailById" resultType="com.wzmtr.dom.dto.res.traffic.ProEventDetailResDTO">
        SELECT *
        FROM TRAFFIC_PRO_EVENT_DETAIL
        WHERE DEL_FLAG='0'
        AND INFO_ID = #{infoId}
        ORDER BY EVENT_TIME ASC
    </select>

    <select id="listWeeklyRecord" resultType="com.wzmtr.dom.dto.res.traffic.ProductionRecordResDTO">
        SELECT t1.ID, t1.STATION_CODE, t1.START_DATE, t1.END_DATE
        FROM TRAFFIC_PRODUCTION_RECORD t1
        LEFT JOIN SYS_STATION t2 ON t1.STATION_CODE=t2.STATION_CODE AND t2.OPEN_FLAG='1'
        WHERE t1.DEL_FLAG='0' AND t1.DATA_TYPE='2'
        <if test="startDate!=null">
            AND t1.START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate!=null">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=t1.END_DATE
        </if>
        ORDER BY t1.CREATE_DATE desc
    </select>

    <select id="listProductionTwo" resultType="com.wzmtr.dom.dto.res.traffic.ProductionInfoWeeklyResDTO$ProductionTwo">
        SELECT b.DAY_TIME as EVENT_TIME, LISTAGG(a.EVENT_DESC, ', ') WITHIN GROUP (ORDER BY b.DAY_TIME) AS EVENT_DESC
        FROM (
        SELECT to_char(t.DATA_DATE,'yyyy-MM-dd') DATA_DATE, t.EVENT_DESC
        FROM TRAFFIC_PRODUCTION_INFO t WHERE t.DATA_TYPE='1' AND t.STATION_CODE=#{stationCode} AND t.PRODUCTION_TYPE='2'
        ORDER BY to_char(t.DATA_DATE,'yyyy-MM-dd')  asc
        ) a
        RIGHT JOIN (
        SELECT TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd hh24:mi:ss')+ROWNUM-1, 'YYYY-MM-DD') DAY_TIME
        FROM DUAL
        CONNECT BY TO_DATE(#{endDate},'yyyy-mm-dd hh24:mi:ss')-TO_DATE(#{startDate},'yyyy-mm-dd hh24:mi:ss')>=ROWNUM
        ) b ON a.DATA_DATE = b.DAY_TIME
        GROUP BY b.DAY_TIME
        ORDER BY b.DAY_TIME
    </select>

    <select id="queryDateRange" resultType="com.wzmtr.dom.dto.res.traffic.ProductionInfoResDTO">
        SELECT MIN(START_DATE) AS START_DATE,MAX(END_DATE) AS END_DATE,MAX(STATION_CODE) AS STATION_CODE
        FROM TRAFFIC_PRODUCTION_INFO
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>

    <insert id="createEvent">
        INSERT INTO TRAFFIC_PRODUCTION_INFO (ID, RECORD_ID, STATION_CODE,PRODUCTION_TYPE,
        <if test="title!=null and title!=''">
            TITLE,
        </if>
        <if test="workTime!=null and workTime!=''">
            WORK_TIME,
        </if>
        <if test="workTimeEnd!=null and workTimeEnd!=''">
            WORK_TIME_END,
        </if>
        <if test="workCode!=null and workCode!=''">
            WORK_CODE,
        </if>
        <if test="workDept!=null and workDept!=''">
            WORK_DEPT,
        </if>
        <if test="workContent!=null and workContent!=''">
            WORK_CONTENT,
        </if>

        <if test="eventDesc!=null and eventDesc!=''">
            EVENT_DESC,
        </if>
        <if test="eventAffect!=null and eventAffect!=''">
            EVENT_AFFECT,
        </if>
        <if test="eventHandle!=null and eventHandle!=''">
            EVENT_HANDLE,
        </if>
        <if test="picUrl!=null and picUrl!=''">
            PIC_URL,
        </if>
        <if test="isClose!=null and isClose!=''">
            IS_CLOSE,
        </if>
        <if test="result!=null and result!=''">
            RESULT,
        </if>
        DATA_TYPE,
        <if test="dataDate!=null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES ( #{id}, #{recordId},#{stationCode},#{productionType},
        <if test="title!=null and title!=''">
            #{title},
        </if>
        <if test="workTime!=null and workTime!=''">
            to_date(#{workTime},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        <if test="workTimeEnd!=null and workTimeEnd!=''">
            to_date(#{workTimeEnd},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        <if test="workCode!=null and workCode!=''">
            #{workCode},
        </if>
        <if test="workDept!=null and workDept!=''">
            #{workDept},
        </if>
        <if test="workContent!=null and workContent!=''">
            #{workContent},
        </if>

        <if test="eventDesc!=null and eventDesc!=''">
            #{eventDesc},
        </if>
        <if test="eventAffect!=null and eventAffect!=''">
            #{eventAffect},
        </if>
        <if test="eventHandle!=null and eventHandle!=''">
            #{eventHandle},
        </if>
        <if test="picUrl!=null and picUrl!=''">
            #{picUrl},
        </if>
        <if test="isClose!=null and isClose!=''">
            #{isClose},
        </if>
        <if test="result!=null and result!=''">
            #{result},
        </if>
        #{dataType},
        <if test="dataDate!=null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <insert id="createEventDetail">
        insert ALL
        <foreach collection="list" index="index" item="item" separator=" ">
            INTO TRAFFIC_PRO_EVENT_DETAIL (
            INFO_ID,
            EVENT_TIME,
            EVENT_DESC,
            CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
            VALUES (
            #{parentId},
            to_date(#{item.eventTime},'yyyy-mm-dd hh24:mi:ss'),
            #{item.eventDesc},
            #{createBy}, sysdate,#{createBy}, sysdate)
        </foreach>
        SELECT * FROM dual
    </insert>


    <update id="modifyEvent">
        UPDATE TRAFFIC_PRODUCTION_INFO SET
        <if test="productionType!=null and productionType!=''">
            PRODUCTION_TYPE=#{productionType},
        </if>
        <if test="title!=null and title!=''">
            TITLE=#{title},
        </if>
        <if test="workTime!=null and workTime!=''">
            WORK_TIME=to_date(#{workTime},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        <if test="workTimeEnd!=null and workTimeEnd!=''">
            WORK_TIME_END=to_date(#{workTimeEnd},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        <if test="workCode!=null and workCode!=''">
            WORK_CODE=#{workCode},
        </if>
        <if test="workDept!=null and workDept!=''">
            WORK_DEPT=#{workDept},
        </if>
        <if test="workContent!=null and workContent!=''">
            WORK_CONTENT=#{workContent},
        </if>

        <if test="eventDesc!=null and eventDesc!=''">
            EVENT_DESC=#{eventDesc},
        </if>
        <if test="eventAffect!=null and eventAffect!=''">
            EVENT_AFFECT=#{eventAffect},
        </if>
        <if test="eventHandle!=null and eventHandle!=''">
            EVENT_HANDLE=#{eventHandle},
        </if>
        <if test="picUrl!=null and picUrl!=''">
            PIC_URL=#{picUrl},
        </if>
        <if test="isClose!=null and isClose!=''">
            IS_CLOSE=#{isClose},
        </if>
        <if test="result!=null and result!=''">
            RESULT=#{result},
        </if>
        VERSION=VERSION+1,
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
        AND VERSION=#{version}
    </update>

    <delete id="deleteEvent">
        DELETE FROM TRAFFIC_PRODUCTION_INFO
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <delete id="deleteEventDetail">
        DELETE FROM TRAFFIC_PRO_EVENT_DETAIL
        WHERE INFO_ID = #{id}
    </delete>

    <delete id="deleteEventDetailBatch">
        DELETE FROM TRAFFIC_PRO_EVENT_DETAIL
        WHERE INFO_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <update id="autoModifyByDaily">
        UPDATE TRAFFIC_PRODUCTION_RECORD SET
        TYPE1_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='1'  AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE2_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='2'  AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE3_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='3'  AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE4_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='4'  AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE5_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='5'  AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE),
        TYPE6_COUNT=(SELECT COUNT(1) FROM TRAFFIC_PRODUCTION_INFO WHERE DEL_FLAG='0' AND PRODUCTION_TYPE='6'  AND START_DATE>=to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE)
        WHERE DEL_FLAG ='0'
        AND DATA_TYPE=#{dataType}
        AND START_DATE=to_date(#{startDate}, 'yyyy-mm-dd hh24:mi:ss')
        AND END_DATE=to_date(#{endDate}, 'yyyy-mm-dd hh24:mi:ss')
    </update>
</mapper>