<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.operate.OperateIndicatorMapper">

    <select id="list" resultType="com.wzmtr.dom.dto.res.operate.IndicatorRecordResDTO">
        SELECT *
        FROM OPERATE_INDICATOR_RECORD
        WHERE DEL_FLAG='0'
        AND DATA_TYPE = #{dataType}
        <if test="startDate != null and startDate!=''">
            AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY START_DATE desc
    </select>

    <select id="queryInfoById" resultType="com.wzmtr.dom.dto.res.operate.IndicatorDetailResDTO">
        SELECT *
        FROM OPERATE_INDICATOR_RECORD
        WHERE ID=#{id} AND DEL_FLAG = '0'
    </select>

    <select id="checkExist" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM OPERATE_INDICATOR_RECORD
        WHERE DEL_FLAG = '0'
        AND DATA_TYPE = #{dataType}
        <if test="startDate != null">
            AND START_DATE = to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null">
            AND END_DATE = to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
    </select>

    <select id="infoList" resultType="com.wzmtr.dom.dto.res.operate.IndicatorInfoResDTO">
        SELECT *
        FROM OPERATE_INDICATOR_INFO
        WHERE DEL_FLAG='0'
        AND RECORD_ID = #{recordId}

        ORDER BY START_DATE desc
    </select>

    <select id="queryPower" resultType="com.wzmtr.dom.dto.res.operate.IndicatorPowerResDTO">
        SELECT *
        FROM OPERATE_INDICATOR_POWER
        WHERE DEL_FLAG='0'
        AND RECORD_ID = #{recordId}

        ORDER BY START_DATE desc
    </select>

    <insert id="add">
        INSERT INTO OPERATE_INDICATOR_RECORD (ID,DATA_TYPE,
        <if test="eventCount != null">
            EVENT_COUNT,
        </if>
        <if test="dataDate != null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES (#{id},#{dataType},
        <if test="eventCount != null">
            #{eventCount},
        </if>
        <if test="dataDate != null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modify">
        UPDATE OPERATE_INDICATOR_RECORD SET
        <if test="runCode != null and runCode!=''">
            RUN_CODE=#{runCode},
        </if>
        <if test="trainCount != null">
            TRAIN_COUNT=#{trainCount},
        </if>
        <if test="sendTimeInterval != null">
            SEND_TIME_INTERVAL=#{sendTimeInterval},
        </if>
        <if test="noAccidentDay != null">
            NO_ACCIDENT_DAY=#{noAccidentDay},
        </if>
        <if test="planRunCount != null">
            PLAN_RUN_COUNT=#{planRunCount},
        </if>
        <if test="planPromiseCount != null">
            PLAN_PROMISE_COUNT=#{planPromiseCount},
        </if>
        <if test="addCount != null">
            ADD_COUNT=#{addCount},
        </if>
        <if test="realRunCount != null">
            REAL_RUN_COUNT=#{realRunCount},
        </if>
        <if test="stopCount != null">
            STOP_COUNT=#{stopCount},
        </if>
        <if test="rutineGuestCount != null">
            RUTINE_GUEST_COUNT=#{rutineGuestCount},
        </if>
        <if test="rescueCount != null">
            RESCUE_COUNT=#{rescueCount},
        </if>
        <if test="offLineCount != null">
            OFF_LINE_COUNT=#{offLineCount},
        </if>
        <if test="trainCount != null">
            TRAIN_COUNT=#{trainCount},
        </if>
        <if test="delayCount != null">
            DELAY_COUNT=#{delayCount},
        </if>
        <if test="delay2Count != null">
            DELAY2_COUNT=#{delay2Count},
        </if>
        <if test="delay3Count != null">
            DELAY3_COUNT=#{delay3Count},
        </if>
        <if test="delay4Count != null">
            DELAY4_COUNT=#{delay4Count},
        </if>
        <if test="operate1Kilometer != null">
            OPERATE1_KILOMETER=#{operate1Kilometer},
        </if>
        <if test="operate2Kilometer != null">
            OPERATE2_KILOMETER=#{operate2Kilometer},
        </if>
        <if test="run1Kilometer != null">
            RUN1_KILOMETER=#{run1Kilometer},
        </if>
        <if test="run2Kilometer != null">
            RUN2_KILOMETER=#{run2Kilometer},
        </if>

        VERSION = VERSION+1,
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
        AND VERSION = #{version}
    </update>

    <insert id="createInfo">
        INSERT INTO OPERATE_INDICATOR_INFO (ID, RECORD_ID,
        DATA_TYPE,
        <if test="dataDate != null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES ( #{id},
        #{recordId},
        #{dataType},
        <if test="dataDate != null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modifyInfo">
        UPDATE OPERATE_INDICATOR_INFO SET
        <if test="punctualityRate != null and punctualityRate!=''">
            PUNCTUALITY_RATE=#{punctualityRate},
        </if>
        <if test="fulfillmentRate != null and fulfillmentRate!=''">
            FULFILLMENT_RATE=#{fulfillmentRate},
        </if>
        <if test="serviceReliability != null and serviceReliability!=''">
            SERVICE_RELIABILITY=#{serviceReliability},
        </if>
        <if test="lineFaultRate != null and lineFaultRate!=''">
            LINE_FAULT_RATE=#{lineFaultRate},
        </if>
        <if test="vehicleFaultRate != null and vehicleFaultRate!=''">
            VEHICLE_FAULT_RATE=#{vehicleFaultRate},
        </if>
        <if test="signalFaultRate != null and signalFaultRate!=''">
            SIGNAL_FAULT_RATE=#{signalFaultRate},
        </if>
        <if test="gateFaultRate != null and gateFaultRate!=''">
            GATE_FAULT_RATE=#{gateFaultRate},
        </if>

        VERSION = VERSION+1,
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
        AND VERSION = #{version}
    </update>

    <insert id="createPower">
        INSERT INTO OPERATE_INDICATOR_POWER (ID, RECORD_ID,
        DATA_TYPE,
        <if test="dataDate != null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES ( #{id},
        #{recordId},
        #{dataType},
        <if test="dataDate != null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modifyPower">
        UPDATE OPERATE_INDICATOR_POWER SET
        <if test="energyConsumption != null">
            ENERGY_CONSUMPTION=#{energyConsumption},
        </if>
        <if test="rmlConsumption != null">
            RML_CONSUMPTION=#{rmlConsumption},
        </if>
        <if test="xtConsumption != null">
            XT_CONSUMPTION=#{xtConsumption},
        </if>
        <if test="lkConsumption != null">
            LK_CONSUMPTION=#{lkConsumption},
        </if>
        <if test="ttConsumption != null">
            TT_CONSUMPTION=#{ttConsumption},
        </if>
        <if test="traction1Consumption != null">
            TRACTION1_CONSUMPTION=#{traction1Consumption},
        </if>
        <if test="traction2Consumption != null">
            TRACTION2_CONSUMPTION=#{traction2Consumption},
        </if>
        <if test="vehicleConsumption != null">
            VEHICLE_CONSUMPTION=#{vehicleConsumption},
        </if>
        <if test="traction3Consumption != null">
            TRACTION3_CONSUMPTION=#{traction3Consumption},
        </if>
        <if test="tractionRate != null and tractionRate !='' ">
            TRACTION_RATE=#{tractionRate},
        </if>
        <if test="lightConsumption != null">
            LIGHT_CONSUMPTION=#{lightConsumption},
        </if>
        <if test="lightRate != null and lightRate !=''">
            LIGHT_RATE=#{lightRate},
        </if>

        VERSION = VERSION+1,
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
        AND VERSION = #{version}
    </update>

</mapper>