<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.operate.OperateFaultStatisticsMapper">
    <insert id="add">
        INSERT INTO OPERATE_FAULT_STATISTICS (ID,DATA_TYPE,
        <if test="dataDate != null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES (#{id},#{dataType},
        <if test="dataDate != null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <select id="selectIsExist" resultType="java.lang.Integer">
        SELECT count(1) FROM OPERATE_FAULT_STATISTICS
        WHERE
        <if test="dataType=='1'.toString()">
            DATA_DATE=#{dataDate,jdbcType=TIMESTAMP}
        </if>
        <if test="dataType!='1'.toString()">
            and START_DATE=#{startDate,jdbcType=TIMESTAMP} AND END_DATE=#{endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="version!=null and version!=''">
            AND VERSION=#{version,jdbcType=VARCHAR}
        </if>
        AND DEL_FLAG='0' AND rownum=1
    </select>
    <update id="modify">
        UPDATE OPERATE_FAULT_STATISTICS SET
        <if test="vehicleNum != null and vehicleNum != ''">
            VEHICLE_NUM=#{vehicleNum},
        </if>
        <if test="powerNum != null and powerNum != ''">
            POWER_NUM=#{powerNum},
        </if>
        <if test="signalNum != null and signalNum != ''">
            SIGNAL_NUM=#{signalNum},
        </if>
        <if test="communicationNum != null and communicationNum != ''">
            COMMUNICATION_NUM=#{communicationNum},
        </if>
        <if test="industryNum != null and industryNum != ''">
            INDUSTRY_NUM=#{industryNum},
        </if>
        <if test="mechanismNum != null and mechanismNum != ''">
            MECHANISM_NUM=#{mechanismNum},
        </if>
        <if test="afcNum != null and afcNum != ''">
            AFC_NUM=#{afcNum},
        </if>
        <if test="elseNum != null and elseNum != ''">
            ELSE_NUM=#{elseNum},
        </if>
        VERSION = VERSION + 1,
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
        AND VERSION=#{version}
    </update>
    <update id="delete">
        UPDATE OPERATE_FAULT_STATISTICS SET
        DEL_FLAG='1', UPDATE_BY=#{userId}, UPDATE_DATE=sysdate
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>
    <select id="list" resultType="com.wzmtr.dom.dto.res.operate.fault.FaultStatisticsResDTO">
        SELECT *
        FROM OPERATE_FAULT_STATISTICS
        WHERE DEL_FLAG='0'
        AND DATA_TYPE=#{dataType}
        <if test="startDate != null and startDate!=''">
            AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY START_DATE desc
    </select>
    <select id="listByDate" resultType="com.wzmtr.dom.dto.res.operate.fault.FaultStatisticsResDTO">

    </select>

</mapper>