<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.operate.OperatePassengerFlowDetailMapper">

    <select id="list" resultType="com.wzmtr.dom.dto.res.operate.passengerflow.PassengerFlowListResDTO">
        SELECT *
        FROM OPERATE_EVENT_RECORD
        WHERE DEL_FLAG='0'
        AND DATA_TYPE = #{dataType}
        <if test="startDate != null and startDate!=''">
            AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY START_DATE desc
    </select>

</mapper>