<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.vehicle.CrewSummaryMapper">

    <select id="page" resultType="com.wzmtr.dom.dto.res.vehicle.CrewSummaryResDTO">
        SELECT ID, SUMMARY_DESC, VERSION, DATA_DATE, DATA_TYPE, START_DATE, END_DATE
        FROM VEHICLE_CREW_SUMMARY
        WHERE DEL_FLAG='0'
        <if test="dataType=='1'.toString()">
            <if test="startDate!=null and startDate!=''">
                AND DATA_DATE>=to_date(#{startDate},'YYYY-MM-DD')
            </if>
            <if test="endDate!=null and endDate!=''">
                AND to_date(#{endDate},'YYYY-MM-DD')>=DATA_DATE
            </if>
            ORDER BY DATA_DATE desc
        </if>
        <if test="dataType!='1'.toString()">
            <if test="startDate!=null and startDate!=''">
                AND START_DATE>=to_date(#{startDate},'YYYY-MM-DD')
            </if>
            <if test="endDate!=null and endDate!=''">
                AND to_date(#{endDate},'YYYY-MM-DD')>=END_DATE
            </if>
            ORDER BY START_DATE desc
        </if>
    </select>

    <select id="detail" resultType="com.wzmtr.dom.dto.res.vehicle.CrewSummaryResDTO">
        SELECT ID, SUMMARY_DESC, VERSION, DATA_DATE, DATA_TYPE, START_DATE, END_DATE
        FROM VEHICLE_CREW_SUMMARY
        WHERE DEL_FLAG='0' AND ID=#{id}
    </select>

    <select id="selectIsExist" resultType="java.lang.Integer">
        SELECT count(1) FROM VEHICLE_CREW_SUMMARY
        WHERE
        <if test="dataType=='1'.toString()">
            DATA_DATE=#{dataDate,jdbcType=TIMESTAMP}
        </if>
        <if test="dataType!='1'.toString()">
            START_DATE=#{startDate,jdbcType=TIMESTAMP} AND END_DATE=#{endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="version!=null and version!=''">
            AND VERSION=#{version,jdbcType=VARCHAR}
        </if>
        AND DEL_FLAG='0' AND rownum=1
    </select>

    <insert id="add">
        INSERT INTO VEHICLE_CREW_SUMMARY
        (ID,
        <if test="summaryDesc!=null and summaryDesc!=''">
            SUMMARY_DESC,
        </if>
        <if test="dataType!=null and dataType!=''">
            DATA_TYPE,
        </if>
        <if test="startDate!=null">
            START_DATE,
        </if>
        <if test="endDate!=null">
            END_DATE,
        </if>
        <if test="dataDate!=null">
            DATA_DATE,
        </if>
        CREATE_BY, CREATE_DATE)
        VALUES (#{id},
        <if test="summaryDesc!=null and summaryDesc!=''">
            #{summaryDesc},
        </if>
        <if test="dataType!=null and dataType!=''">
            #{dataType},
        </if>
        <if test="startDate!=null">
            #{startDate},
        </if>
        <if test="endDate!=null">
            #{endDate},
        </if>
        <if test="dataDate!=null">
            #{dataDate},
        </if>
        #{createBy}, sysdate)
    </insert>

    <update id="modify">
        UPDATE VEHICLE_CREW_SUMMARY SET
        <if test="summaryDesc!=null">
            SUMMARY_DESC=#{summaryDesc},
        </if>
        <if test="dataType!=null">
            DATA_TYPE=#{dataType},
        </if>
        <if test="startDate!=null">
            START_DATE=#{startDate},
        </if>
        <if test="endDate!=null">
            END_DATE=#{endDate},
        </if>
        VERSION=VERSION+1, UPDATE_BY=#{updateBy}, UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>

    <update id="delete">
        UPDATE VEHICLE_CREW_SUMMARY SET
        DEL_FLAG='1', UPDATE_BY=#{userId}, UPDATE_DATE=sysdate
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

</mapper>