<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.vehicle.DispatchMapper">

    <select id="pageRecord" resultType="com.wzmtr.dom.dto.res.vehicle.DispatchRecordResDTO">
        SELECT ID, ORDER_NUM, VERSION, DATA_DATE, DATA_TYPE, START_DATE, END_DATE
        FROM VEHICLE_DISPATCH_RECORD
        WHERE DEL_FLAG='0'
        <if test="dataType!=null and dataType!=''">
            AND DATA_TYPE=#{dataType}
        </if>
        <if test="dataType=='1'.toString()">
            <if test="startDate!=null and startDate!=''">
                AND DATA_DATE>=to_date(#{startDate},'YYYY-MM-DD')
            </if>
            <if test="endDate!=null and endDate!=''">
                AND to_date(#{endDate},'YYYY-MM-DD')>=DATA_DATE
            </if>
            ORDER BY START_DATE desc
        </if>
        <if test="dataType!='1'.toString()">
            <if test="startDate!=null and startDate!=''">
                AND START_DATE>=to_date(#{startDate},'YYYY-MM-DD')
            </if>
            <if test="endDate!=null and endDate!=''">
                AND to_date(#{endDate},'YYYY-MM-DD')>=END_DATE
            </if>
            ORDER BY START_DATE desc
        </if>
    </select>

    <select id="pageOrder" resultType="com.wzmtr.dom.dto.res.vehicle.DispatchOrderResDTO">
        SELECT do.ID, do.RECORD_ID, do.ORDER_TIME, do.ORDER_CODE, do.ORDER_DESC, do.VERSION
        FROM VEHICLE_DISPATCH_RECORD dr
        LEFT JOIN VEHICLE_DISPATCH_ORDER do ON do.RECORD_ID=dr.ID AND do.DEL_FLAG='0'
        WHERE do.DEL_FLAG='0'
        <if test="id!=null and id!=''">
            AND dr.ID=#{id}
        </if>
        <if test="startDate!=null and startDate!=''">
            AND dr.DATA_DATE>=to_date(#{startDate},'YYYY-MM-DD')
        </if>
        <if test="endDate!=null and endDate!=''">
            AND to_date(#{endDate},'YYYY-MM-DD')>=dr.DATA_DATE
        </if>
        ORDER BY dr.DATA_DATE ASC, do.ORDER_TIME ASC
    </select>

    <select id="orderIds" resultType="java.lang.String">
        SELECT do.ID
        FROM VEHICLE_DISPATCH_ORDER do
        WHERE do.DEL_FLAG='0'
        <if test="startDate!=null and startDate!=''">
            AND do.START_DATE>=to_date(#{startDate},'YYYY-MM-DD')
        </if>
        <if test="endDate!=null and endDate!=''">
            AND to_date(#{endDate},'YYYY-MM-DD')>=do.END_DATE
        </if>
    </select>

    <select id="getRecordDetail" resultType="com.wzmtr.dom.dto.res.vehicle.DispatchRecordResDTO">
        SELECT ID, ORDER_NUM, VERSION, DATA_DATE, DATA_TYPE, START_DATE, END_DATE
        FROM VEHICLE_DISPATCH_RECORD
        WHERE DEL_FLAG='0' AND ID=#{id}
    </select>

    <select id="getOrderDetail" resultType="com.wzmtr.dom.dto.res.vehicle.DispatchOrderResDTO">
        SELECT ID, RECORD_ID, ORDER_TIME, ORDER_CODE, ORDER_DESC, VERSION
        FROM VEHICLE_DISPATCH_ORDER
        WHERE DEL_FLAG='0' AND ID=#{id}
    </select>

    <select id="selectRecordIsExist" resultType="java.lang.Integer">
        SELECT count(1) FROM VEHICLE_DISPATCH_RECORD
        WHERE
        <if test="dataType=='1'.toString()">
            DATA_DATE=#{dataDate,jdbcType=TIMESTAMP}
        </if>
        <if test="dataType!='1'.toString()">
            START_DATE=#{startDate,jdbcType=TIMESTAMP} and END_DATE=#{endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="version!=null and version!=''">
            AND VERSION=#{version,jdbcType=VARCHAR}
        </if>
        AND DATA_TYPE = #{dataType}
        AND DEL_FLAG='0' AND rownum=1
    </select>

    <select id="selectOrderIsExist" resultType="java.lang.Integer">
        select count(1) from VEHICLE_DISPATCH_ORDER
        WHERE ID=#{id} AND DEL_FLAG='0' AND rownum=1
        <if test="version!=null and version!=''">
            AND VERSION=#{version}
        </if>
    </select>

    <insert id="addRecord">
        INSERT INTO VEHICLE_DISPATCH_RECORD
        (ID,
        <if test="orderNum!=null">
            ORDER_NUM,
        </if>
        <if test="dataType!=null and dataType!=''">
            DATA_TYPE,
        </if>
        <if test="startDate!=null">
            START_DATE,
        </if>
        <if test="endDate!=null">
            END_DATE,
        </if>
        <if test="dataDate!=null">
            DATA_DATE,
        </if>
        CREATE_BY, CREATE_DATE)
        VALUES (#{id},
        <if test="orderNum!=null">
            #{orderNum},
        </if>
        <if test="dataType!=null and dataType!=''">
            #{dataType},
        </if>
        <if test="startDate!=null">
            #{startDate},
        </if>
        <if test="endDate!=null">
            #{endDate},
        </if>
        <if test="dataDate!=null">
            #{dataDate},
        </if>
        #{createBy}, sysdate)
    </insert>

    <insert id="addOrder">
        INSERT INTO VEHICLE_DISPATCH_ORDER
        (ID, RECORD_ID,
        <if test="orderTime!=null and orderTime!=''">
            ORDER_TIME,
        </if>
        <if test="orderCode!=null and orderCode!=''">
            ORDER_CODE,
        </if>
        <if test="orderDesc!=null and orderDesc!=''">
            ORDER_DESC,
        </if>
        CREATE_BY, CREATE_DATE)
        VALUES (#{id}, #{recordId},
        <if test="orderTime!=null and orderTime!=''">
            #{orderTime},
        </if>
        <if test="orderCode!=null and orderCode!=''">
            #{orderCode},
        </if>
        <if test="orderDesc!=null and orderDesc!=''">
            #{orderDesc},
        </if>
        #{createBy}, sysdate)
    </insert>

    <insert id="addOrderBatch">
        insert ALL
        <foreach collection="list" index="index" item="item" separator=" ">
            INTO VEHICLE_DISPATCH_ORDER (
            ID,
            RECORD_ID,
            ORDER_TIME,
            ORDER_CODE,
            ORDER_DESC,
            START_DATE,
            END_DATE,
            CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
            VALUES (
            #{item.id},
            #{recordId},
            #{item.orderTime},
            #{item.orderCode},
            #{item.orderDesc},
            to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
            to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
            #{createBy}, sysdate,#{createBy}, sysdate)
        </foreach>
        SELECT * FROM dual
    </insert>

    <update id="modifyRecord">
        UPDATE VEHICLE_DISPATCH_RECORD SET
        ORDER_NUM=(SELECT COUNT(*) FROM VEHICLE_DISPATCH_ORDER WHERE RECORD_ID=#{id} AND DEL_FLAG='0'),
        VERSION=VERSION+1,
        UPDATE_BY=#{updateBy},
        UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>

    <update id="modifyOrder">
        UPDATE VEHICLE_DISPATCH_ORDER SET
        <if test="orderTime!=null">
            ORDER_TIME=#{orderTime},
        </if>
        <if test="orderCode!=null">
            ORDER_CODE=#{orderCode},
        </if>
        <if test="orderDesc!=null">
            ORDER_DESC=#{orderDesc},
        </if>
        VERSION=VERSION+1, UPDATE_BY=#{updateBy}, UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>

    <update id="deleteRecord">
        UPDATE VEHICLE_DISPATCH_RECORD SET
        DEL_FLAG='1', UPDATE_BY=#{userId}, UPDATE_DATE=sysdate
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <update id="deleteOrder">
        UPDATE VEHICLE_DISPATCH_ORDER SET
        DEL_FLAG='1', UPDATE_BY=#{userId}, UPDATE_DATE=sysdate
        <if test="recordIds!=null and recordIds.size()>0">
            WHERE RECORD_ID IN (
            <foreach collection="recordIds" index="index" item="recordId" separator=",">
                #{recordId}
            </foreach>
            )
        </if>
        <if test="ids!=null and ids.size()>0">
            WHERE ID IN (
            <foreach collection="ids" index="index" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
    </update>

</mapper>