<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.vehicle.DispatchHandoverMapper">

    <select id="page" resultType="com.wzmtr.dom.dto.res.vehicle.DispatchHandoverResDTO">
        SELECT ID, FAULT_DESC, OTHER_DESC, VERSION, BELONG_DATE
        FROM VEHICLE_DISPATCH_HANDOVER
        WHERE DEL_FLAG='0'
        <if test="startDate!=null and startDate!=''">
            AND BELONG_DATE>=to_date(#{startDate},'YYYY-MM-DD')
        </if>
        <if test="endDate!=null and endDate!=''">
            AND to_date(#{endDate},'YYYY-MM-DD')>=BELONG_DATE
        </if>
        ORDER BY BELONG_DATE desc
    </select>

    <select id="detail" resultType="com.wzmtr.dom.dto.res.vehicle.DispatchHandoverResDTO">
        SELECT ID, FAULT_DESC, OTHER_DESC, VERSION, BELONG_DATE
        FROM VEHICLE_DISPATCH_HANDOVER
        WHERE DEL_FLAG='0' AND ID=#{id}
    </select>

    <select id="selectIsExist" resultType="java.lang.Integer">
        select count(1) from VEHICLE_DISPATCH_HANDOVER
        where BELONG_DATE=#{belongDate}
        <if test="version!=null and version!=''">
            AND VERSION=#{version}
        </if>
        AND DEL_FLAG='0' AND rownum=1
    </select>

    <insert id="add">
        INSERT INTO VEHICLE_DISPATCH_HANDOVER
        (ID,
        <if test="faultDesc!=null and faultDesc!=''">
            FAULT_DESC,
        </if>
        <if test="otherDesc!=null and otherDesc!=''">
            OTHER_DESC,
        </if>
        CREATE_BY, CREATE_DATE, BELONG_DATE)
        VALUES (#{id},
        <if test="faultDesc!=null and faultDesc!=''">
            #{faultDesc},
        </if>
        <if test="otherDesc!=null and otherDesc!=''">
            #{otherDesc},
        </if>
        #{createBy}, sysdate, #{belongDate})
    </insert>

    <update id="modify">
        UPDATE VEHICLE_DISPATCH_HANDOVER SET
        <if test="faultDesc!=null">
            FAULT_DESC=#{faultDesc},
        </if>
        <if test="otherDesc!=null">
            OTHER_DESC=#{otherDesc},
        </if>
        VERSION=VERSION+1, UPDATE_BY=#{updateBy}, UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>

    <update id="delete">
        UPDATE VEHICLE_DISPATCH_HANDOVER SET
        DEL_FLAG='1', UPDATE_BY=#{userId}, UPDATE_DATE=sysdate
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

</mapper>