<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.vehicle.IndicatorMapper">

    <select id="list" resultType="com.wzmtr.dom.dto.res.vehicle.IndicatorResDTO">
        SELECT ID, TRAIN_COUNT, CONSTRUCT_COUNT, DELAY_COUNT, VERSION, DATA_TYPE,DATA_DATE,START_DATE, CREATE_DATE,END_DATE, UPDATE_DATE
        FROM VEHICLE_IMPORTANT_INDICATOR
        WHERE DEL_FLAG='0'
        AND DATA_TYPE=#{dataType}
        <if test="startDate != null and startDate!=''">
            AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and endDate!=''">
            AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE
        </if>
        ORDER BY START_DATE desc
    </select>

    <select id="checkExist" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM VEHICLE_IMPORTANT_INDICATOR
        WHERE DEL_FLAG = '0'
        AND DATA_TYPE=#{dataType}
        <if test="startDate != null">
            AND START_DATE = to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null">
            AND END_DATE = to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
    </select>

    <select id="queryInfoById" resultType="com.wzmtr.dom.dto.res.vehicle.IndicatorResDTO">
        SELECT ID, TRAIN_COUNT, CONSTRUCT_COUNT, DELAY_COUNT, VERSION,DATA_TYPE,DATA_DATE,START_DATE, CREATE_DATE,END_DATE, UPDATE_DATE
        FROM VEHICLE_IMPORTANT_INDICATOR
        WHERE ID=#{id} AND DEL_FLAG = '0'
    </select>

    <insert id="add">
        INSERT INTO VEHICLE_IMPORTANT_INDICATOR (ID,DATA_TYPE,
        <if test="trainCount != null">
            TRAIN_COUNT,
        </if>
        <if test="constructCount != null">
            CONSTRUCT_COUNT,
        </if>
        <if test="delayCount != null">
            DELAY_COUNT,
        </if>
        <if test="dataDate != null">
            DATA_DATE,
        </if>
        START_DATE,
        END_DATE,
        CREATE_BY, CREATE_DATE,UPDATE_BY,UPDATE_DATE)
        VALUES
        (#{id}, #{dataType},
        <if test="trainCount != null">
            #{trainCount},
        </if>
        <if test="constructCount != null">
            #{constructCount},
        </if>
        <if test="delayCount != null">
            #{delayCount},
        </if>
        <if test="dataDate != null">
            to_date(#{dataDate},'yyyy-mm-dd hh24:mi:ss'),
        </if>
        to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss'),
        to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss'),
        #{createBy}, sysdate,#{createBy}, sysdate)
    </insert>

    <update id="modify">
        UPDATE VEHICLE_IMPORTANT_INDICATOR SET
            DELAY_COUNT=#{delayCount},
            VERSION = VERSION+1,
            UPDATE_BY=#{updateBy},
            UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>

    <update id="modifyDayCount">
        UPDATE VEHICLE_IMPORTANT_INDICATOR SET
        TRAIN_COUNT=(SELECT CASE WHEN t0.PLAN_SUM>0 THEN (ROUND(t0.REAL_SUM/t0.PLAN_SUM,2))*100 ELSE 0 END FROM(SELECT SUM(REAL_DEPARTURE+REAL_RECEIVE) AS REAL_SUM,SUM(PLAN_DEPARTURE+PLAN_RECEIVE) AS PLAN_SUM FROM VEHICLE_DRIVING_DEPOT WHERE DEL_FLAG = '0' AND DATA_TYPE = '1' AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE) t0),
        CONSTRUCT_COUNT=(SELECT CASE WHEN t1.B_PLAN_SUM>0 THEN (ROUND(t1.B_COMPLETE_SUM/t1.B_PLAN_SUM,2))*100 ELSE 0 END FROM (SELECT SUM(B_COMPLETE) AS B_COMPLETE_SUM,SUM(B_PLAN) AS B_PLAN_SUM FROM VEHICLE_CONSTRUCT_RECORD WHERE DEL_FLAG = '0' AND DATA_TYPE = '1' AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE) t1),
        UPDATE_DATE=sysdate
        WHERE DEL_FLAG = '0'
        AND DATA_TYPE = '1'
        AND START_DATE = to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        AND END_DATE = to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
    </update>

    <update id="modifyCount">
        UPDATE VEHICLE_IMPORTANT_INDICATOR SET
        TRAIN_COUNT=(SELECT CASE WHEN t0.PLAN_SUM>0 THEN (ROUND(t0.REAL_SUM/t0.PLAN_SUM,2))*100 ELSE 0 END FROM(SELECT SUM(REAL_DEPARTURE+REAL_RECEIVE) AS REAL_SUM,SUM(PLAN_DEPARTURE+PLAN_RECEIVE) AS PLAN_SUM FROM VEHICLE_DRIVING_DEPOT WHERE DEL_FLAG = '0' AND DATA_TYPE = '1' AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE) t0),
        CONSTRUCT_COUNT=(SELECT CASE WHEN t1.B_PLAN_SUM>0 THEN (ROUND(t1.B_COMPLETE_SUM/t1.B_PLAN_SUM,2))*100 ELSE 0 END FROM (SELECT SUM(B_COMPLETE) AS B_COMPLETE_SUM,SUM(B_PLAN) AS B_PLAN_SUM FROM VEHICLE_CONSTRUCT_RECORD WHERE DEL_FLAG = '0' AND DATA_TYPE = '1' AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE) t1),
        UPDATE_DATE=sysdate
        WHERE ID=#{id}
    </update>

    <update id="modifyCount2">
        UPDATE VEHICLE_IMPORTANT_INDICATOR SET
        TRAIN_COUNT=(SELECT CASE WHEN t0.PLAN_SUM>0 THEN (ROUND(t0.REAL_SUM/t0.PLAN_SUM,2))*100 ELSE 0 END FROM(SELECT SUM(REAL_DEPARTURE+REAL_RECEIVE) AS REAL_SUM,SUM(PLAN_DEPARTURE+PLAN_RECEIVE) AS PLAN_SUM FROM VEHICLE_DRIVING_DEPOT WHERE DEL_FLAG = '0' AND DATA_TYPE = '1' AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE) t0),
        CONSTRUCT_COUNT=(SELECT CASE WHEN t1.B_PLAN_SUM>0 THEN (ROUND(t1.B_COMPLETE_SUM/t1.B_PLAN_SUM,2))*100 ELSE 0 END FROM (SELECT SUM(B_COMPLETE) AS B_COMPLETE_SUM,SUM(B_PLAN) AS B_PLAN_SUM FROM VEHICLE_CONSTRUCT_RECORD WHERE DEL_FLAG = '0' AND DATA_TYPE = '1' AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE) t1),
        DELAY_COUNT=(SELECT CASE WHEN t2.DELAY_COUNT_SUM>0 THEN t2.DELAY_COUNT_SUM ELSE 0 END FROM (SELECT SUM(DELAY_COUNT) AS DELAY_COUNT_SUM FROM VEHICLE_IMPORTANT_INDICATOR WHERE DEL_FLAG = '0' AND DATA_TYPE = '1' AND START_DATE >= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')>=END_DATE) t2),
        UPDATE_DATE=sysdate
        WHERE DEL_FLAG = '0'
        AND START_DATE = to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        AND END_DATE = to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
    </update>

    <delete id="delete">
        DELETE FROM VEHICLE_IMPORTANT_INDICATOR
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
</mapper>