<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxrail.app.report.mapper.ShopItemMapper">
    <resultMap id="BaseResultMap" type="com.zxrail.app.report.model.po.ShopItemPo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="BIGINT" property="price"/>
        <result column="item_desc" jdbcType="VARCHAR" property="itemDesc"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="pic_id" jdbcType="BIGINT" property="picId"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `shop_id`, `name`, `price`, `item_desc`, `create_by`, `create_time`, `update_by`, `update_time`, `status`,
        `pic_id`, `tenant_id`
    </sql>

</mapper>