<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.dom.mapper.vehicle.DrivingAttentionMapper">

    <select id="page" resultType="com.wzmtr.dom.dto.res.vehicle.DrivingAttentionResDTO">
        SELECT ID, LINE_ATTENTION, DEPOT_ATTENTION, VERSION, BELONG_DATE
        FROM VEHICLE_DRIVING_ATTENTION
        WHERE DEL_FLAG='0'
        <if test="startTime!=null and startTime!=''">
            AND BELONG_DATE>=to_date(#{startTime},'YYYY-MM-DD')
        </if>
        <if test="endTime!=null and endTime!=''">
            AND to_date(#{endTime},'YYYY-MM-DD')>=BELONG_DATE
        </if>
        ORDER BY BELONG_DATE desc
    </select>

    <select id="detail" resultType="com.wzmtr.dom.dto.res.vehicle.DrivingAttentionResDTO">
        SELECT ID, LINE_ATTENTION, DEPOT_ATTENTION, VERSION, BELONG_DATE
        FROM VEHICLE_DRIVING_ATTENTION
        WHERE DEL_FLAG='0' AND ID=#{id}
    </select>

    <select id="selectIsExist" resultType="java.lang.Integer">
        select count(1) from VEHICLE_DRIVING_ATTENTION
        where BELONG_DATE=#{belongDate}
        <if test="version!=null and version!=''">
            AND VERSION=#{version}
        </if>
        AND DEL_FLAG='0' AND rownum=1
    </select>

    <insert id="add">
        INSERT INTO VEHICLE_DRIVING_ATTENTION
        (ID,
        <if test="lineAttention!=null and lineAttention!=''">
            LINE_ATTENTION,
        </if>
        <if test="depotAttention!=null and depotAttention!=''">
            DEPOT_ATTENTION,
        </if>
        CREATE_BY, CREATE_DATE, BELONG_DATE)
        VALUES (#{id},
        <if test="lineAttention!=null and lineAttention!=''">
            #{lineAttention},
        </if>
        <if test="depotAttention!=null and depotAttention!=''">
            #{depotAttention},
        </if>
        #{createBy}, sysdate, #{belongDate})
    </insert>

    <update id="modify">
        UPDATE VEHICLE_DRIVING_ATTENTION SET
        <if test="lineAttention!=null">
            LINE_ATTENTION=#{lineAttention},
        </if>
        <if test="depotAttention!=null">
            DEPOT_ATTENTION=#{depotAttention},
        </if>
        VERSION=VERSION+1, UPDATE_BY=#{updateBy}, UPDATE_DATE=sysdate
        WHERE ID=#{id} and VERSION=#{version}
    </update>

    <update id="delete">
        UPDATE VEHICLE_DRIVING_ATTENTION SET
        DEL_FLAG='1', UPDATE_BY=#{userId}, UPDATE_DATE=sysdate
        WHERE ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

</mapper>